{"openapi":"3.0.1","info":{"title":"Atlassian Marketplace API","version":"2"},"externalDocs":{"description":"Introduction to the API, basic concepts, and tutorials","url":"https://developer.atlassian.com/platform/marketplace/rest"},"servers":[{"url":"https://marketplace.atlassian.com/rest/2"}],"tags":[{"name":"App versions","description":"Information about app versions"},{"name":"Applications","description":"Information about applications"},{"name":"Apps","description":"Information about apps"},{"name":"Assets","description":"For uploading app/image files"},{"name":"Categories","description":"Information about categories"},{"name":"License types","description":"Information about license types"},{"name":"Migrations","description":"Information about app migration compatibility"},{"name":"Privacy and Security","description":"Below are the APIs to fill privacy and security information about apps.  We have also created a <a href=\"https://www.loom.com/share/318773830681431e9b56eea27dceb840\">loom video</a> for you that explains the process and steps involved."},{"name":"Products","description":"Information about products"},{"name":"Promotions (Removed)","description":"Information about vendor promotions"},{"name":"Reporting","description":"Information about vendor reporting"},{"name":"Reviews","description":"Information about app reviews"},{"name":"Vendors","description":"Information about vendors"}],"paths":{"/addonCategories/app/{applicationKey}":{"get":{"tags":["Categories"],"summary":"Get categories","description":"Get a list of categories associated with the parent application. \n\nFor non-UPM clients, this resource returns all categories regardless of the specified application.","parameters":[{"name":"applicationKey","in":"path","description":"The unique identifier for this application, for example \"jira\"","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddonCategoryCollection"}}}},"404":{"description":"The resource does not exist","content":{}}}}},"/addonCategories/{pluginCategoryId}":{"get":{"tags":["Categories"],"summary":"Get category","description":"Get a specific category.","parameters":[{"name":"pluginCategoryId","in":"path","description":"The unique identifier for this category","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddonCategory"}}}},"404":{"description":"The resource does not exist","content":{}}}}},"/addons":{"get":{"tags":["Apps"],"summary":"Get apps","description":"Get a list of apps matching the specified parameters.","parameters":[{"name":"application","in":"query","description":"Only returns apps compatible with this application","schema":{"type":"string"}},{"name":"applicationBuild","in":"query","description":"Only returns apps compatible with the specified application build number","schema":{"type":"integer","format":"int64"}},{"name":"category","in":"query","description":"Only returns apps with any of the specified categories","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"cost","in":"query","description":"Only returns apps with the specified payment model","schema":{"type":"string","enum":["free","marketplace","orderable","paid"]}},{"name":"filter","in":"query","description":"Return apps filtered or sorted using the specified parameter","schema":{"type":"string","enum":["atlassian","codegeist","featured","highest-rated","name","new","popular","recent","top-grossing","top-vendor","trending","verified"]}},{"name":"forThisUser","in":"query","description":"Only returns apps from vendors associated with the current user","schema":{"type":"boolean"}},{"name":"hosting","in":"query","description":"Only returns apps with the specified hosting model","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","enum":["any","cloud","datacenter","server"]}}},{"name":"cloudComplianceBoundaries","in":"query","description":"Only returns apps with the specified cloud compliance boundaries, with \"commercial\" as the default value for cloud apps if not provided explicitly. This parameter must be left null for non-cloud apps.","style":"form","explode":false,"schema":{"type":"array","items":{"$ref":"#/components/schemas/CloudComplianceBoundary"}}},{"name":"includeHidden","in":"query","description":"Includes apps that are normally hidden in the site","schema":{"type":"string","enum":["all","visibleInApp"]}},{"name":"includePrivate","in":"query","description":"Includes private apps or versions if you are authorized to see them","schema":{"type":"boolean"}},{"name":"marketingLabel","in":"query","description":"Only returns apps with the specified marketing labels","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"text","in":"query","description":"Only returns apps that match the search text","schema":{"type":"string"}},{"name":"withVersion","in":"query","description":"Includes the latest compatible version in the response","schema":{"type":"boolean"}},{"name":"offset","in":"query","description":"If specified, skips ahead by this number of items","schema":{"type":"integer","format":"int32"}},{"name":"limit","in":"query","description":"If specified, limits the result set to this number of items","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddonCollection"}}}}}},"post":{"tags":["Apps"],"summary":"Create app","description":"Create a new app.\n\nThe associated vendor account must exist prior to the app's creation. \n\nNote that the app's first version should be included in the request body (in `_embedded.version`).\n\nThis resource requires authentication.","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Addon"}}},"required":true},"responses":{"201":{"description":"Successfully created","headers":{"Location":{"description":"URI of the new resource","schema":{"type":"string"}}},"content":{}},"400":{"description":"Invalid properties","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JsonErrorsDoc"}}}}},"security":[{"mpac_authed":[]}],"x-codegen-request-body-name":"body"}},"/addons/archived":{"get":{"tags":["Apps"],"summary":"Get archived apps","description":"Get a list of archived apps matching the specified parameters.","deprecated":true,"parameters":[{"name":"application","in":"query","description":"Only returns apps compatible with this application","schema":{"type":"string"}},{"name":"applicationBuild","in":"query","description":"Only returns apps compatible with the specified application build number","schema":{"type":"integer","format":"int64"}},{"name":"category","in":"query","description":"Only returns apps with any of the specified categories","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"cost","in":"query","description":"Only returns apps with the specified payment model","schema":{"type":"string","enum":["free","marketplace","orderable","paid"]}},{"name":"filter","in":"query","description":"Return apps filtered or sorted using the specified parameter","schema":{"type":"string","enum":["atlassian","codegeist","featured","highest-rated","name","new","popular","recent","top-grossing","top-vendor","trending","verified"]}},{"name":"forThisUser","in":"query","description":"Only returns apps from vendors associated with the current user","schema":{"type":"boolean"}},{"name":"hosting","in":"query","description":"Only returns apps with the specified hosting model","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","enum":["any","cloud","datacenter","server"]}}},{"name":"includeHidden","in":"query","description":"Includes apps that are normally hidden in the site","schema":{"type":"string","enum":["all","visibleInApp"]}},{"name":"includePrivate","in":"query","description":"Includes private apps or versions if you are authorized to see them","schema":{"type":"boolean"}},{"name":"marketingLabel","in":"query","description":"Only returns apps with the specified marketing labels","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"text","in":"query","description":"Only returns apps that match the search text","schema":{"type":"string"}},{"name":"withVersion","in":"query","description":"Includes the latest compatible version in the response","schema":{"type":"boolean"}},{"name":"cloudComplianceBoundaries","in":"query","description":"Only returns apps with the specified cloud compliance boundaries. This parameter will default to \"commercial\" for cloud apps and must be left null for non-cloud apps.","schema":{"type":"array","items":{"$ref":"#/components/schemas/CloudComplianceBoundary"}}},{"name":"offset","in":"query","description":"If specified, skips ahead by this number of items","schema":{"type":"integer","format":"int32"}},{"name":"limit","in":"query","description":"If specified, limits the result set to this number of items","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddonListingCollection"}}}}}}},"/addons/archived/vendor/{vendorId}":{"get":{"tags":["Apps"],"summary":"Get archived apps (by vendor)","description":"Get a list of archived apps by a specific vendor matching the specified parameters.","parameters":[{"name":"vendorId","in":"path","description":"The unique identifier for this vendor","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"application","in":"query","description":"Only returns apps compatible with this application","schema":{"type":"string"}},{"name":"applicationBuild","in":"query","description":"Only returns apps compatible with the specified application build number","schema":{"type":"integer","format":"int64"}},{"name":"category","in":"query","description":"Only returns apps with any of the specified categories","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"cost","in":"query","description":"Only returns apps with the specified payment model","schema":{"type":"string","enum":["free","marketplace","orderable","paid"]}},{"name":"filter","in":"query","description":"Return apps filtered or sorted using the specified parameter","schema":{"type":"string","enum":["atlassian","codegeist","featured","highest-rated","name","new","popular","recent","top-grossing","top-vendor","trending","verified"]}},{"name":"forThisUser","in":"query","description":"Only returns apps from vendors associated with the current user","schema":{"type":"boolean"}},{"name":"hosting","in":"query","description":"Only returns apps with the specified hosting model","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","enum":["any","cloud","datacenter","server"]}}},{"name":"includeHidden","in":"query","description":"Includes apps that are normally hidden in the site","schema":{"type":"string","enum":["all","visibleInApp"]}},{"name":"includePrivate","in":"query","description":"Includes private apps or versions if you are authorized to see them","schema":{"type":"boolean"}},{"name":"marketingLabel","in":"query","description":"Only returns apps with the specified marketing labels","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"text","in":"query","description":"Only returns apps that match the search text","schema":{"type":"string"}},{"name":"withVersion","in":"query","description":"Includes the latest compatible version in the response","schema":{"type":"boolean"}},{"name":"cloudComplianceBoundaries","in":"query","description":"Only returns apps with the specified cloud compliance boundaries. This parameter will default to \"commercial\" for cloud apps and must be left null for non-cloud apps.","schema":{"type":"array","items":{"$ref":"#/components/schemas/CloudComplianceBoundary"}}},{"name":"offset","in":"query","description":"If specified, skips ahead by this number of items","schema":{"type":"integer","format":"int32"}},{"name":"limit","in":"query","description":"If specified, limits the result set to this number of items","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddonListingCollection"}}}}}}},"/addons/listings/banners":{"get":{"tags":["Apps"],"summary":"Get app banners","description":"Get a list of app banners matching the specified parameters.","deprecated":true,"parameters":[{"name":"application","in":"query","description":"Only returns apps compatible with this application","schema":{"type":"string"}},{"name":"applicationBuild","in":"query","description":"Only returns apps compatible with the specified application build number","schema":{"type":"integer","format":"int64"}},{"name":"category","in":"query","description":"Only returns apps with any of the specified categories","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"cost","in":"query","description":"Only returns apps with the specified payment model","schema":{"type":"string","enum":["free","marketplace","orderable","paid"]}},{"name":"filter","in":"query","description":"Return apps filtered or sorted using the specified parameter","schema":{"type":"string","enum":["atlassian","codegeist","featured","highest-rated","name","new","popular","recent","top-grossing","top-vendor","trending","verified"]}},{"name":"forThisUser","in":"query","description":"Only returns apps from vendors associated with the current user","schema":{"type":"boolean"}},{"name":"hosting","in":"query","description":"Only returns apps with the specified hosting model","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","enum":["any","cloud","datacenter","server"]}}},{"name":"includeHidden","in":"query","description":"Includes apps that are normally hidden in the site","schema":{"type":"string","enum":["all","visibleInApp"]}},{"name":"includePrivate","in":"query","description":"Includes private apps or versions if you are authorized to see them","schema":{"type":"boolean"}},{"name":"marketingLabel","in":"query","description":"Only returns apps with the specified marketing labels","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"text","in":"query","description":"Only returns apps that match the search text","schema":{"type":"string"}},{"name":"withVersion","in":"query","description":"Includes the latest compatible version in the response","schema":{"type":"boolean"}},{"name":"offset","in":"query","description":"If specified, skips ahead by this number of items","schema":{"type":"integer","format":"int32"}},{"name":"limit","in":"query","description":"If specified, limits the result set to this number of items","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddonListingCollection"}}}}}}},"/addons/search/brief":{"get":{"tags":["Apps"],"summary":"Get apps (brief)","description":"Get a list of apps with names matching a search term. This resource's responses are limited to just a single page of results. Use the app collection resource (`/rest/2/addons`) for more results.","deprecated":true,"parameters":[{"name":"q","in":"query","description":"Text to search for","schema":{"type":"string"}},{"name":"cloudComplianceBoundaries","in":"query","description":"Search for apps within these cloud compliance boundaries, with \"commercial\" as the default value for cloud apps.","schema":{"type":"array","items":{"$ref":"#/components/schemas/CloudComplianceBoundary"}}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BriefSearchResult"}}}}}}},"/addons/vendor/{vendorId}":{"get":{"tags":["Apps"],"summary":"Get apps (by vendor)","description":"Get a list of apps for the specified vendor.","parameters":[{"name":"vendorId","in":"path","description":"The unique identifier for this vendor","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"application","in":"query","description":"Only returns apps compatible with this application","schema":{"type":"string"}},{"name":"applicationBuild","in":"query","description":"Only returns apps compatible with the specified application build number","schema":{"type":"integer","format":"int64"}},{"name":"category","in":"query","description":"Only returns apps with any of the specified categories","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"cost","in":"query","description":"Only returns apps with the specified payment model","schema":{"type":"string","enum":["free","marketplace","orderable","paid"]}},{"name":"filter","in":"query","description":"Return apps filtered or sorted using the specified parameter","schema":{"type":"string","enum":["atlassian","codegeist","featured","highest-rated","name","new","popular","recent","top-grossing","top-vendor","trending","verified"]}},{"name":"forThisUser","in":"query","description":"Only returns apps from vendors associated with the current user","schema":{"type":"boolean"}},{"name":"hosting","in":"query","description":"Only returns apps with the specified hosting model","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","enum":["any","cloud","datacenter","server"]}}},{"name":"cloudComplianceBoundaries","in":"query","description":"Only returns apps with the specified cloud compliance boundaries, with \"commercial\" as the default value for cloud apps if not provided explicitly. This parameter must be left null for non-cloud apps.","style":"form","explode":false,"schema":{"type":"array","items":{"$ref":"#/components/schemas/CloudComplianceBoundary"}}},{"name":"includeHidden","in":"query","description":"Includes apps that are normally hidden in the site","schema":{"type":"string","enum":["all","visibleInApp"]}},{"name":"includePrivate","in":"query","description":"Includes private apps or versions if you are authorized to see them","schema":{"type":"boolean"}},{"name":"marketingLabel","in":"query","description":"Only returns apps with the specified marketing labels","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"text","in":"query","description":"Only returns apps that match the search text","schema":{"type":"string"}},{"name":"withVersion","in":"query","description":"Includes the latest compatible version in the response","schema":{"type":"boolean"}},{"name":"offset","in":"query","description":"If specified, skips ahead by this number of items","schema":{"type":"integer","format":"int32"}},{"name":"limit","in":"query","description":"If specified, limits the result set to this number of items","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddonCollection"}}}}}}},"/addons/{addonKey}":{"get":{"tags":["Apps"],"summary":"Get app","description":"Get a specific app.","parameters":[{"name":"addonKey","in":"path","description":"The unique identifier for this app, for example \"com.atlassian.confluence.plugins.confluence-questions\"","required":true,"schema":{"type":"string"}},{"name":"application","in":"query","description":"Only returns apps compatible with this application","schema":{"type":"string"}},{"name":"applicationBuild","in":"query","description":"Only returns apps compatible with the specified application build number","schema":{"type":"integer","format":"int64"}},{"name":"category","in":"query","description":"Only returns apps with any of the specified categories","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"cost","in":"query","description":"Only returns apps with the specified payment model","schema":{"type":"string","enum":["free","marketplace","orderable","paid"]}},{"name":"filter","in":"query","description":"Return apps filtered or sorted using the specified parameter","schema":{"type":"string","enum":["atlassian","codegeist","featured","highest-rated","name","new","popular","recent","top-grossing","top-vendor","trending","verified"]}},{"name":"forThisUser","in":"query","description":"Only returns apps from vendors associated with the current user","schema":{"type":"boolean"}},{"name":"hosting","in":"query","description":"Only returns apps with the specified hosting model","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","enum":["any","cloud","datacenter","server"]}}},{"name":"includeHidden","in":"query","description":"Includes apps that are normally hidden in the site","schema":{"type":"string","enum":["all","visibleInApp"]}},{"name":"includePrivate","in":"query","description":"Includes private apps or versions if you are authorized to see them","schema":{"type":"boolean"}},{"name":"marketingLabel","in":"query","description":"Only returns apps with the specified marketing labels","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"text","in":"query","description":"Only returns apps that match the search text","schema":{"type":"string"}},{"name":"withVersion","in":"query","description":"Includes the latest compatible version in the response","schema":{"type":"boolean"}},{"name":"cloudComplianceBoundary","in":"query","description":"Includes the latest compatible version in the response with this cloud compliance boundary, with \"commercial\" as the default for cloud app versions. This parameter will be ignored for non-cloud app versions.","schema":{"$ref":"#/components/schemas/CloudComplianceBoundary"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Addon"}}}},"400":{"description":"Invalid properties","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JsonErrorsDoc"}}}},"404":{"description":"The resource does not exist or isn't visible to you","content":{}}}},"patch":{"tags":["Apps"],"summary":"Update app","description":"Update a specific app.\n\nThe request body must be a valid <a href=\"https://tools.ietf.org/html/rfc6902\">JSON Patch</a> document. The properties which can be referenced in the PATCH are the same ones returned by a GET on this URI.\n\nThis resource requires authentication.","parameters":[{"name":"addonKey","in":"path","description":"The unique identifier for this app, for example \"com.atlassian.confluence.plugins.confluence-questions\"","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The request body must be a valid <a href=\"https://tools.ietf.org/html/rfc6902\">JSON Patch</a> document. The properties which can be referenced in the PATCH are the same ones returned by a GET on this URI.","content":{"application/json-patch+json":{"schema":{"$ref":"#/components/schemas/JsonPatchRequest"}}},"required":true},"responses":{"204":{"description":"Successfully modified","headers":{"Location":{"description":"URI of the resource","schema":{"type":"string"}}},"content":{}},"400":{"description":"Invalid properties","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JsonErrorsDoc"}}}},"404":{"description":"The resource does not exist or isn't visible to you","content":{}}},"security":[{"mpac_authed":[]}],"x-codegen-request-body-name":"body"}},"/addons/{addonKey}/approval":{"get":{"tags":["Apps"],"summary":"Get app approval","description":"Get a specific app approval status.\n\nThis resource requires authentication.","parameters":[{"name":"addonKey","in":"path","description":"The unique identifier for this app, for example \"com.atlassian.confluence.plugins.confluence-questions\"","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApprovalStatus"}}}},"404":{"description":"The resource does not exist or isn't visible to you","content":{}}},"security":[{"mpac_authed":[]}]},"put":{"tags":["Apps"],"summary":"Update app approval","description":"Approve, reject or resubmit an app for approval.\n\nVendors can use this resource to resubmit a previously rejected app for approval. This is done by setting the `status` field to `pending`.\n\nAdministrators can use this resource to approve or reject an app that is submitted for approval.\n\nThis resource requires authentication.","parameters":[{"name":"addonKey","in":"path","description":"The unique identifier for this app, for example \"com.atlassian.confluence.plugins.confluence-questions\"","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApprovalStatus"}}},"required":true},"responses":{"400":{"description":"Invalid properties","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JsonErrorsDoc"}}}}},"security":[{"mpac_authed":[]}],"x-codegen-request-body-name":"body"}},"/addons/{addonKey}/distribution":{"get":{"tags":["Apps"],"summary":"Get app metrics","description":"Get a summary of an app's latest metrics.","parameters":[{"name":"addonKey","in":"path","description":"The unique identifier for this app, for example \"com.atlassian.confluence.plugins.confluence-questions\"","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddonDistributionSummary"}}}},"404":{"description":"The resource does not exist or isn't visible to you","content":{}}}}},"/addons/{addonKey}/distribution/active":{"get":{"tags":["Apps"],"summary":"Get app active installations","description":"Get a specific app's active installation counts over time.\\\nFor cloud app versions, this will only include app versions within commercial compliance boundary.\\\nThis resource requires authentication.","parameters":[{"name":"addonKey","in":"path","description":"The unique identifier for this app, for example \"com.atlassian.confluence.plugins.confluence-questions\"","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddonDistribution"}}}},"400":{"description":"Invalid properties","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JsonErrorsDoc"}}}},"404":{"description":"The resource does not exist or isn't visible to you","content":{}}},"security":[{"mpac_authed":[]}]}},"/addons/{addonKey}/distribution/application":{"get":{"tags":["Apps"],"summary":"Get app active installations (by application)","description":"Get a specific app's active installation counts over time, aggregated by application.\\\nFor cloud app versions, this will only include app versions within commercial compliance boundary.\\\nThis resource requires authentication.","parameters":[{"name":"addonKey","in":"path","description":"The unique identifier for this app, for example \"com.atlassian.confluence.plugins.confluence-questions\"","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddonDistribution"}}}},"400":{"description":"Invalid properties","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JsonErrorsDoc"}}}},"404":{"description":"The resource does not exist or isn't visible to you","content":{}}},"security":[{"mpac_authed":[]}]}},"/addons/{addonKey}/distribution/application/version":{"get":{"tags":["Apps"],"summary":"Get app active installations (by application version)","description":"Get a specific app's active installation counts over time, aggregated by application version.\\\nFor cloud app versions, this will only include app versions within commercial compliance boundary.\\\nThis resource requires authentication.","parameters":[{"name":"addonKey","in":"path","description":"The unique identifier for this app, for example \"com.atlassian.confluence.plugins.confluence-questions\"","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddonDistribution"}}}},"400":{"description":"Invalid properties","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JsonErrorsDoc"}}}},"404":{"description":"The resource does not exist or isn't visible to you","content":{}}},"security":[{"mpac_authed":[]}]}},"/addons/{addonKey}/distribution/application/version/major":{"get":{"tags":["Apps"],"summary":"Get app active installations (by major application version)","description":"Get a specific app's active installation counts over time, aggregated by major application version.\\\nFor cloud app versions, this will only include app versions within commercial compliance boundary.\\\nThis resource requires authentication.","parameters":[{"name":"addonKey","in":"path","description":"The unique identifier for this app, for example \"com.atlassian.confluence.plugins.confluence-questions\"","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddonDistribution"}}}},"400":{"description":"Invalid properties","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JsonErrorsDoc"}}}},"404":{"description":"The resource does not exist or isn't visible to you","content":{}}},"security":[{"mpac_authed":[]}]}},"/addons/{addonKey}/distribution/application/version/minor":{"get":{"tags":["Apps"],"summary":"Get app active installations (by minor application version)","description":"Get a specific app's active installation counts over time, aggregated by minor application version.\\\nFor cloud app versions, this will only include app versions within commercial compliance boundary.\\\nThis resource requires authentication.","parameters":[{"name":"addonKey","in":"path","description":"The unique identifier for this app, for example \"com.atlassian.confluence.plugins.confluence-questions\"","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddonDistribution"}}}},"400":{"description":"Invalid properties","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JsonErrorsDoc"}}}},"404":{"description":"The resource does not exist or isn't visible to you","content":{}}},"security":[{"mpac_authed":[]}]}},"/addons/{addonKey}/distribution/version":{"get":{"tags":["Apps"],"summary":"Get app active installations (by app version)","description":"Get a specific app's active installation counts over time, aggregated by app version.\\\nFor cloud app versions, this will only include app versions within commercial compliance boundary.\\\nThis resource requires authentication.","parameters":[{"name":"addonKey","in":"path","description":"The unique identifier for this app, for example \"com.atlassian.confluence.plugins.confluence-questions\"","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddonDistribution"}}}},"400":{"description":"Invalid properties","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JsonErrorsDoc"}}}},"404":{"description":"The resource does not exist or isn't visible to you","content":{}}},"security":[{"mpac_authed":[]}]}},"/addons/{addonKey}/feedbacks":{"get":{"tags":["Apps"],"summary":"Get app feedback","description":"Get a list of app feedback matching the specified parameters.\n\nThis resource requires authentication.","parameters":[{"name":"addonKey","in":"path","description":"The unique identifier for this app, for example \"com.atlassian.confluence.plugins.confluence-questions\"","required":true,"schema":{"type":"string"}},{"name":"type","in":"query","description":"Return feedback for the specified feedback type only","schema":{"type":"string","enum":["disable","uninstall"]}},{"name":"includeAnonymous","in":"query","description":"Include anonymous feedback","schema":{"type":"boolean"}},{"name":"reason","in":"query","description":"Return feedback for the specified reason only","schema":{"type":"string","enum":["bugs","cost","functionality","interface","other","reenabling","reinstalling","usefulness"]}},{"name":"offset","in":"query","description":"If specified, skips ahead by this number of items","schema":{"type":"integer","format":"int32"}},{"name":"limit","in":"query","description":"If specified, limits the result set to this number of items","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddonFeedbackCollection"}}}},"400":{"description":"Invalid properties","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JsonErrorsDoc"}}}},"404":{"description":"The resource does not exist or isn't visible to you","content":{}}},"security":[{"mpac_authed":[]}]}},"/addons/{addonKey}/feedbacks/distribution":{"get":{"tags":["Apps"],"summary":"Get aggregated app feedback","description":"Get aggregated feedback for the specified app, aggregated by the specified metric.\n\nFeedback can be aggregated by type.\n\nThis resource requires authentication.","parameters":[{"name":"addonKey","in":"path","description":"The unique identifier for this app, for example \"com.atlassian.confluence.plugins.confluence-questions\"","required":true,"schema":{"type":"string"}},{"name":"type","in":"query","description":"Restricts the feedback distribution to the specified feedback type","required":true,"schema":{"type":"string","enum":["disable","uninstall"]}},{"name":"startDate","in":"query","description":"Starting date for the query","schema":{"type":"string","format":"date"}},{"name":"endDate","in":"query","description":"Ending date for the query","schema":{"type":"string","format":"date"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddonFeedbackDistribution"}}}},"400":{"description":"Invalid properties","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JsonErrorsDoc"}}}},"404":{"description":"The resource does not exist or isn't visible to you","content":{}}},"security":[{"mpac_authed":[]}]}},"/addons/{addonKey}/pricing/{cloudOrServer}/{liveOrPending}":{"get":{"tags":["Apps"],"summary":"Get app pricing","description":"Get pricing for the specified app. \n\nLive pricing is visible to all users. Pending pricing is only visible if you are authenticated as a vendor contact.","parameters":[{"name":"addonKey","in":"path","description":"The unique identifier for this app, for example \"com.atlassian.confluence.plugins.confluence-questions\"","required":true,"schema":{"type":"string"}},{"name":"cloudOrServer","in":"path","required":true,"schema":{"type":"string","enum":["cloud","datacenter","server"]}},{"name":"liveOrPending","in":"path","description":"Specifies either the pricing that is currently in effect and visible to users (live), or pending that will take effect after a delay","required":true,"schema":{"type":"string","enum":["live","pending"]}},{"name":"cloudComplianceBoundary","in":"query","description":"The cloud compliance boundary for which the pricing is to be fetched, with \"commercial\" as the default for cloud apps. Must be left null for non-cloud apps.","schema":{"type":"string","enum":["commercial","fedramp_moderate","isolated_cloud"]}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Pricing"}}}},"404":{"description":"The app is unknown or it does not have pricing of the specified type","content":{}}}},"put":{"tags":["Apps"],"summary":"Submit app pricing","description":"Update pricing for the specified app.\n\nUpdated pricing is always initially in the \"pending\" state.\n\nFor an app pending approval, pricing changes will go \"live\" when the app is approved. For an already-approved app, pricing changes will go \"live\" after 24 hours.\n\nThis resource requires authentication.","parameters":[{"name":"addonKey","in":"path","description":"The unique identifier for this app, for example \"com.atlassian.confluence.plugins.confluence-questions\"","required":true,"schema":{"type":"string"}},{"name":"cloudOrServer","in":"path","required":true,"schema":{"type":"string","enum":["cloud","datacenter","server"]}},{"name":"liveOrPending","in":"path","description":"Specifies either the pricing that is currently in effect and visible to users (live), or pending that will take effect after a delay","required":true,"schema":{"type":"string","enum":["live","pending"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Pricing"}}},"required":true},"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Pricing"}}}},"400":{"description":"Invalid properties","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JsonErrorsDoc"}}}}},"security":[{"mpac_authed":[]}],"x-codegen-request-body-name":"body"}},"/addons/{addonKey}/privacy-and-security":{"get":{"tags":["Privacy and Security"],"summary":"Get app privacy and security information","description":"Get the privacy and security info for the specified app. This resource requires authentication for fetching \"draft\" version of privacy and security information.","parameters":[{"name":"addonKey","in":"path","description":"The unique identifier for this app, for example \"com.atlassian.confluence.plugins.confluence-questions\".","required":true,"schema":{"type":"string"}},{"name":"state","in":"query","description":"Specifies the version of Privacy and security information to be fetched. Possible values are \"live\" or \"draft\". For partners with manage app permissions, if a draft version exists then the default value will be \"draft\", or else the default value will be \"live\".","schema":{"type":"string"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TrustInfo"}}}},"400":{"description":"Invalid properties","content":{}},"403":{"description":"Unauthorized error.","content":{}},"404":{"description":"The App/live form does not exist.","content":{}}},"security":[{"mpac_authed":[]}]},"put":{"tags":["Privacy and Security"],"summary":"Create/Update app draft version of privacy and security info","description":"Create/Update draft version of privacy and security info for the specified app. Any update will create a new draft version. This resource requires authentication.","parameters":[{"name":"addonKey","in":"path","description":"The unique identifier for this app, for example \"com.atlassian.confluence.plugins.confluence-questions\".","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppPrivacyAndSecurity"}}},"required":true},"responses":{"200":{"description":"Privacy & security information saved successfully.","content":{}},"201":{"description":"Privacy & security information created successfully.","content":{}},"400":{"description":"Invalid properties","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JsonErrorsDoc"}}}},"403":{"description":"Unauthorized error.","content":{}},"404":{"description":"The App does not exist.","content":{}}},"security":[{"mpac_authed":[]}],"x-codegen-request-body-name":"body"},"delete":{"tags":["Privacy and Security"],"summary":"Delete draft version of privacy and security info","description":"Discards the draft version of privacy and security information for the specified app. This resource requires authentication.","parameters":[{"name":"addonKey","in":"path","description":"The unique identifier for this app, for example \"com.atlassian.confluence.plugins.confluence-questions\".","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Draft version of privacy & security information discarded successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/appTrustInformation"}}}},"403":{"description":"Unauthorized error","content":{}},"404":{"description":"The draft form does not exist","content":{}}},"security":[{"mpac_authed":[]}]},"patch":{"tags":["Privacy and Security"],"summary":"Update draft version of privacy and security info for the specific app","description":"Update draft version of privacy and security info for the specific app.\n\nThe request body must be a valid <a href=\"https://tools.ietf.org/html/rfc6902\">JSON Patch</a> document. The properties which can be referenced in the PATCH are the same ones returned by a GET on this URI.\n\nThis resource requires authentication.","parameters":[{"name":"addonKey","in":"path","description":"The unique identifier for this app, for example \"com.atlassian.confluence.plugins.confluence-questions\".","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The request body must be a valid <a href=\"https://tools.ietf.org/html/rfc6902\">JSON Patch</a> document. The properties which can be referenced in the PATCH are the same ones returned by a GET on this URI.","content":{"application/json-patch+json":{"schema":{"$ref":"#/components/schemas/JsonPatchRequest"}}},"required":true},"responses":{"200":{"description":"Privacy & security information updated successfully.","content":{}},"400":{"description":"Invalid properties.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JsonErrorsDoc"}}}},"403":{"description":"Unauthorized error.","content":{}},"404":{"description":"Either the app or the draft version of the privacy and security info for the specific app doesn't exist.","content":{}},"500":{"description":"Unable to save the information.","content":{}}},"security":[{"mpac_authed":[]}],"x-codegen-request-body-name":"body"}},"/addons/{addonKey}/privacy-and-security/publish":{"put":{"tags":["Privacy and Security"],"summary":"Publish app privacy and security info","description":"Publish the privacy and security info for the specified app. This resource requires authentication.","parameters":[{"name":"addonKey","in":"path","description":"The unique identifier for this app, for example \"com.atlassian.confluence.plugins.confluence-questions\".","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Privacy & security information submitted successfully.","content":{}},"403":{"description":"Unauthorized error.","content":{}},"404":{"description":"The App/draft version of privacy & security info does not exist.","content":{}}},"security":[{"mpac_authed":[]}]}},"/addons/{addonKey}/recommendations":{"get":{"tags":["Apps"],"summary":"Get app recommendations","description":"Get apps recommended to users of the specified app.","deprecated":true,"parameters":[{"name":"addonKey","in":"path","description":"The unique identifier for this app, for example \"com.atlassian.confluence.plugins.confluence-questions\"","required":true,"schema":{"type":"string"}},{"name":"application","in":"query","description":"Only returns apps compatible with this application","schema":{"type":"string"}},{"name":"applicationBuild","in":"query","description":"Only returns apps compatible with the specified application build number","schema":{"type":"integer","format":"int64"}},{"name":"category","in":"query","description":"Only returns apps with any of the specified categories","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"cost","in":"query","description":"Only returns apps with the specified payment model","schema":{"type":"string","enum":["free","marketplace","orderable","paid"]}},{"name":"filter","in":"query","description":"Return apps filtered or sorted using the specified parameter","schema":{"type":"string","enum":["atlassian","codegeist","featured","highest-rated","name","new","popular","recent","top-grossing","top-vendor","trending","verified"]}},{"name":"forThisUser","in":"query","description":"Only returns apps from vendors associated with the current user","schema":{"type":"boolean"}},{"name":"hosting","in":"query","description":"Only returns apps with the specified hosting model","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","enum":["any","cloud","datacenter","server"]}}},{"name":"includeHidden","in":"query","description":"Includes apps that are normally hidden in the site","schema":{"type":"string","enum":["all","visibleInApp"]}},{"name":"includePrivate","in":"query","description":"Includes private apps or versions if you are authorized to see them","schema":{"type":"boolean"}},{"name":"marketingLabel","in":"query","description":"Only returns apps with the specified marketing labels","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"text","in":"query","description":"Only returns apps that match the search text","schema":{"type":"string"}},{"name":"withVersion","in":"query","description":"Includes the latest compatible version in the response","schema":{"type":"boolean"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddonListingCollection"}}}}}}},"/addons/{addonKey}/release":{"get":{"tags":["Apps"],"summary":"Get app release status","description":"Get a specific app's release status.\n\nThis resource requires authentication.","parameters":[{"name":"addonKey","in":"path","description":"The unique identifier for this app, for example \"com.atlassian.confluence.plugins.confluence-questions\"","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddonReleaseStatus"}}}},"404":{"description":"The resource does not exist or isn't visible to you","content":{}}},"security":[{"mpac_authed":[]}]},"put":{"tags":["Apps"],"summary":"Release app","description":"Release an app after it has been approved.\n\nIf a vendor requests that their app is *not* automatically released after it has been approved, they can use this resource to release their app.\n\nSet the `released` field to `true`. This only works one-way; vendors cannot set it to `false` later.\n\nThis resource requires authentication.","parameters":[{"name":"addonKey","in":"path","description":"The unique identifier for this app, for example \"com.atlassian.confluence.plugins.confluence-questions\"","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddonReleaseStatus"}}},"required":true},"responses":{"400":{"description":"Invalid properties","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JsonErrorsDoc"}}}}},"security":[{"mpac_authed":[]}],"x-codegen-request-body-name":"body"}},"/addons/{addonKey}/reviews":{"get":{"tags":["Reviews"],"summary":"Get app reviews","description":"Get a list of reviews for the specified app.","deprecated":true,"parameters":[{"name":"addonKey","in":"path","description":"The unique identifier for this app, for example \"com.atlassian.confluence.plugins.confluence-questions\"","required":true,"schema":{"type":"string"}},{"name":"sort","in":"query","description":"Specifies the review sort order","schema":{"type":"string","enum":["helpful","recent"]}},{"name":"offset","in":"query","description":"If specified, skips ahead by this number of items","schema":{"type":"integer","format":"int32"}},{"name":"limit","in":"query","description":"If specified, limits the result set to this number of items","schema":{"type":"integer","format":"int32"}},{"name":"hosting","in":"query","description":"Only returns apps with the specified hosting model","schema":{"type":"string","enum":["cloud","datacenter","server"]}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReviewCollection"}}}}}},"post":{"tags":["Reviews"],"summary":"Create / update app review","description":"Create or update a specific app review.\n\nThis resource requires authentication.","deprecated":true,"parameters":[{"name":"addonKey","in":"path","description":"The unique identifier for this app, for example \"com.atlassian.confluence.plugins.confluence-questions\"","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Review"}}},"required":true},"responses":{"204":{"description":"Successfully modified","headers":{"Location":{"description":"URI of the resource","schema":{"type":"string"}}},"content":{}}},"security":[{"mpac_authed":[]}],"x-codegen-request-body-name":"body"}},"/addons/{addonKey}/reviews/id/{reviewId}":{"get":{"tags":["Reviews"],"summary":"Get app review","description":"Get a specific app review.","parameters":[{"name":"addonKey","in":"path","description":"The unique identifier for this app, for example \"com.atlassian.confluence.plugins.confluence-questions\"","required":true,"schema":{"type":"string"}},{"name":"reviewId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Review"}}}},"404":{"description":"The resource does not exist or isn't visible to you","content":{}}}},"put":{"tags":["Reviews"],"summary":"Create / update app review","description":"Create or update a specific app review.","deprecated":true,"parameters":[{"name":"addonKey","in":"path","description":"The unique identifier for this app, for example \"com.atlassian.confluence.plugins.confluence-questions\"","required":true,"schema":{"type":"string"}},{"name":"reviewId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Review"}}},"required":true},"responses":{"204":{"description":"Successfully modified","headers":{"Location":{"description":"URI of the resource","schema":{"type":"string"}}},"content":{}},"404":{"description":"The resource does not exist or isn't visible to you","content":{}}},"x-codegen-request-body-name":"body"},"delete":{"tags":["Reviews"],"summary":"Delete app review","description":"Delete a specific app review.","deprecated":true,"parameters":[{"name":"addonKey","in":"path","description":"The unique identifier for this app, for example \"com.atlassian.confluence.plugins.confluence-questions\"","required":true,"schema":{"type":"string"}},{"name":"reviewId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"Success","content":{}},"404":{"description":"The resource does not exist or isn't visible to you","content":{}}}}},"/addons/{addonKey}/reviews/id/{reviewId}/down":{"get":{"tags":["Reviews"],"summary":"Get app review downvote","description":"Returns whether or not the current user has downvoted the specified app review.\n\nThis resource requires authentication.","deprecated":true,"parameters":[{"name":"addonKey","in":"path","description":"The unique identifier for this app, for example \"com.atlassian.confluence.plugins.confluence-questions\"","required":true,"schema":{"type":"string"}},{"name":"reviewId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BooleanState"}}}},"404":{"description":"The resource does not exist or isn't visible to you","content":{}}},"security":[{"mpac_authed":[]}]},"put":{"tags":["Reviews"],"summary":"Update app review downvote","description":"Updates whether or not the current user has downvoted the specified app review.\n\nThis resource requires authentication.","deprecated":true,"parameters":[{"name":"addonKey","in":"path","description":"The unique identifier for this app, for example \"com.atlassian.confluence.plugins.confluence-questions\"","required":true,"schema":{"type":"string"}},{"name":"reviewId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BooleanState"}}},"required":true},"responses":{"204":{"description":"Successfully modified","headers":{"Location":{"description":"URI of the resource","schema":{"type":"string"}}},"content":{}}},"security":[{"mpac_authed":[]}],"x-codegen-request-body-name":"body"}},"/addons/{addonKey}/reviews/id/{reviewId}/flag":{"get":{"tags":["Reviews"],"summary":"Get app review flag","description":"Returns whether or not the current user has flagged the specified app review.\n\nThis resource requires authentication.","deprecated":true,"parameters":[{"name":"addonKey","in":"path","description":"The unique identifier for this app, for example \"com.atlassian.confluence.plugins.confluence-questions\"","required":true,"schema":{"type":"string"}},{"name":"reviewId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BooleanState"}}}},"404":{"description":"The resource does not exist or isn't visible to you","content":{}}},"security":[{"mpac_authed":[]}]},"put":{"tags":["Reviews"],"summary":"Update app review flag","description":"Updates whether or not the current user has flagged the specified app review.\n\nThis resource requires authentication.","deprecated":true,"parameters":[{"name":"addonKey","in":"path","description":"The unique identifier for this app, for example \"com.atlassian.confluence.plugins.confluence-questions\"","required":true,"schema":{"type":"string"}},{"name":"reviewId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BooleanState"}}},"required":true},"responses":{"204":{"description":"Successfully modified","headers":{"Location":{"description":"URI of the resource","schema":{"type":"string"}}},"content":{}}},"security":[{"mpac_authed":[]}],"x-codegen-request-body-name":"body"}},"/addons/{addonKey}/reviews/id/{reviewId}/response":{"get":{"tags":["Reviews"],"summary":"Get app review response","description":"Get the response for the specified app review.","deprecated":true,"parameters":[{"name":"addonKey","in":"path","description":"The unique identifier for this app, for example \"com.atlassian.confluence.plugins.confluence-questions\"","required":true,"schema":{"type":"string"}},{"name":"reviewId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReviewResponse"}}}},"404":{"description":"The resource does not exist or isn't visible to you","content":{}}}},"put":{"tags":["Reviews"],"summary":"Create / update app review response","description":"Create or update a specific app review response.\n\nThis resource requires authentication.","deprecated":true,"parameters":[{"name":"addonKey","in":"path","description":"The unique identifier for this app, for example \"com.atlassian.confluence.plugins.confluence-questions\"","required":true,"schema":{"type":"string"}},{"name":"reviewId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReviewResponse"}}},"required":true},"responses":{"204":{"description":"Successfully modified","headers":{"Location":{"description":"URI of the resource","schema":{"type":"string"}}},"content":{}},"404":{"description":"The resource does not exist or isn't visible to you","content":{}}},"security":[{"mpac_authed":[]}],"x-codegen-request-body-name":"body"},"delete":{"tags":["Reviews"],"summary":"Delete app review response","description":"Delete a specific app review response.\n\nThis resource requires authentication.","deprecated":true,"parameters":[{"name":"addonKey","in":"path","description":"The unique identifier for this app, for example \"com.atlassian.confluence.plugins.confluence-questions\"","required":true,"schema":{"type":"string"}},{"name":"reviewId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"Success","content":{}},"404":{"description":"The resource does not exist or isn't visible to you","content":{}}},"security":[{"mpac_authed":[]}]}},"/addons/{addonKey}/reviews/id/{reviewId}/up":{"get":{"tags":["Reviews"],"summary":"Get app review upvote","description":"Returns whether or not the current user has upvoted the specified app review.\n\nThis resource requires authentication.","deprecated":true,"parameters":[{"name":"addonKey","in":"path","description":"The unique identifier for this app, for example \"com.atlassian.confluence.plugins.confluence-questions\"","required":true,"schema":{"type":"string"}},{"name":"reviewId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BooleanState"}}}},"404":{"description":"The resource does not exist or isn't visible to you","content":{}}},"security":[{"mpac_authed":[]}]},"put":{"tags":["Reviews"],"summary":"Update app review upvote","description":"Updates whether or not the current user has upvoted the specified app review.\n\nThis resource requires authentication.","deprecated":true,"parameters":[{"name":"addonKey","in":"path","description":"The unique identifier for this app, for example \"com.atlassian.confluence.plugins.confluence-questions\"","required":true,"schema":{"type":"string"}},{"name":"reviewId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BooleanState"}}},"required":true},"responses":{"204":{"description":"Successfully modified","headers":{"Location":{"description":"URI of the resource","schema":{"type":"string"}}},"content":{}}},"security":[{"mpac_authed":[]}],"x-codegen-request-body-name":"body"}},"/addons/{addonKey}/reviews/mine":{"get":{"tags":["Reviews"],"summary":"Get my app review","description":"Get a specific app review written by the current user.\n\nThis resource requires authentication.","deprecated":true,"parameters":[{"name":"addonKey","in":"path","description":"The unique identifier for this app, for example \"com.atlassian.confluence.plugins.confluence-questions\"","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Review"}}}},"404":{"description":"The resource does not exist or isn't visible to you","content":{}}},"security":[{"mpac_authed":[]}]},"put":{"tags":["Reviews"],"summary":"Create / update my app review","description":"Create or update a specific app review written by the current user.\n\nThis resource requires authentication.","deprecated":true,"parameters":[{"name":"addonKey","in":"path","description":"The unique identifier for this app, for example \"com.atlassian.confluence.plugins.confluence-questions\"","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Review"}}},"required":true},"responses":{"204":{"description":"Successfully modified","headers":{"Location":{"description":"URI of the resource","schema":{"type":"string"}}},"content":{}},"404":{"description":"The resource does not exist or isn't visible to you","content":{}}},"security":[{"mpac_authed":[]}],"x-codegen-request-body-name":"body"},"delete":{"tags":["Reviews"],"summary":"Delete my app review","description":"Delete a specific app review written by the current user.\n\nThis resource requires authentication.","deprecated":true,"parameters":[{"name":"addonKey","in":"path","description":"The unique identifier for this app, for example \"com.atlassian.confluence.plugins.confluence-questions\"","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"Success","content":{}},"404":{"description":"The resource does not exist or isn't visible to you","content":{}}},"security":[{"mpac_authed":[]}]}},"/addons/{addonKey}/tokens":{"get":{"tags":["Apps"],"summary":"Get access tokens","description":"Get a list of access tokens for the specified app. \n\nIn addition to vendor contacts, anonymous users can access this resource if they provide an existing valid token.","deprecated":true,"parameters":[{"name":"addonKey","in":"path","description":"The unique identifier for this app, for example \"com.atlassian.confluence.plugins.confluence-questions\"","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TokenCollection"}}}},"404":{"description":"The resource does not exist or isn't visible to you","content":{}}}},"post":{"tags":["Apps"],"summary":"Create access token","description":"Create a new access token.\n\nThis resource requires authentication.","deprecated":true,"parameters":[{"name":"addonKey","in":"path","description":"The unique identifier for this app, for example \"com.atlassian.confluence.plugins.confluence-questions\"","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Token"}}}},"400":{"description":"Invalid properties","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JsonErrorsDoc"}}}},"404":{"description":"The resource does not exist or isn't visible to you","content":{}},"409":{"description":"The app already has the maximum number of tokens","content":{}}},"security":[{"mpac_authed":[]}]}},"/addons/{addonKey}/tokens/{token}":{"get":{"tags":["Apps"],"summary":"Get access token","description":"Get a specific access token.\nThis resource requires authentication.","deprecated":true,"parameters":[{"name":"addonKey","in":"path","description":"The unique identifier for this app, for example \"com.atlassian.confluence.plugins.confluence-questions\"","required":true,"schema":{"type":"string"}},{"name":"token","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Token"}}}},"404":{"description":"The resource does not exist or isn't visible to you","content":{}}},"security":[{"mpac_authed":[]}]},"post":{"tags":["Apps"],"summary":"Validate access token","description":"Validates or associates an access token with a host. \n\nFor a new access token, this resource associates the token with a host. For tokens already associated with a host, this resource validates that the `Origin` header matches the associated host. The host is specified by the request's `Origin` header.","parameters":[{"name":"addonKey","in":"path","description":"The unique identifier for this app, for example \"com.atlassian.confluence.plugins.confluence-questions\"","required":true,"schema":{"type":"string"}},{"name":"token","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"Success","content":{}},"400":{"description":"Invalid properties","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JsonErrorsDoc"}}}},"403":{"description":"The request's `Origin` header does not match the access token's host","content":{}},"404":{"description":"The resource does not exist or isn't visible to you","content":{}}}},"delete":{"tags":["Apps"],"summary":"Delete access token","description":"Delete a specific access token.\n\nThis resource requires authentication.","deprecated":true,"parameters":[{"name":"addonKey","in":"path","description":"The unique identifier for this app, for example \"com.atlassian.confluence.plugins.confluence-questions\"","required":true,"schema":{"type":"string"}},{"name":"token","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Token"}}}},"204":{"description":"Success","content":{}},"404":{"description":"The resource does not exist or isn't visible to you","content":{}}},"security":[{"mpac_authed":[]}]}},"/addons/{addonKey}/versions":{"get":{"tags":["App versions"],"summary":"Get app versions","description":"Get a list of versions for the specified app.","parameters":[{"name":"addonKey","in":"path","description":"The unique identifier for this app, for example \"com.atlassian.confluence.plugins.confluence-questions\"","required":true,"schema":{"type":"string"}},{"name":"afterVersion","in":"query","description":"Selects only app versions newer than the version with the specified display name","schema":{"type":"string"}},{"name":"application","in":"query","description":"Only returns apps compatible with this application","schema":{"type":"string"}},{"name":"applicationBuild","in":"query","description":"Only returns apps compatible with the specified application build number","schema":{"type":"integer","format":"int64"}},{"name":"cost","in":"query","description":"Only returns apps with the specified payment model","schema":{"type":"string","enum":["free","marketplace","orderable","paid"]}},{"name":"hosting","in":"query","description":"Only returns apps with the specified hosting model","schema":{"type":"string","enum":["any","cloud","datacenter","server"]}},{"name":"includePrivate","in":"query","description":"Includes private apps or versions if you are authorized to see them","schema":{"type":"boolean"}},{"name":"cloudComplianceBoundary","in":"query","description":"Only returns app versions with the specified cloud compliance boundary, with \"commercial\" as the default for cloud apps. This parameter will be ignored for non-cloud app versions.","schema":{"$ref":"#/components/schemas/CloudComplianceBoundary"}},{"name":"offset","in":"query","description":"If specified, skips ahead by this number of items","schema":{"type":"integer","format":"int32"}},{"name":"limit","in":"query","description":"If specified, limits the result set to this number of items","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddonVersionCollection"}}}}}},"post":{"tags":["App versions"],"summary":"Create app version","description":"Create a new version for the specified app.\n\nThis resource requires authentication.","parameters":[{"name":"addonKey","in":"path","description":"The unique identifier for this app, for example \"com.atlassian.confluence.plugins.confluence-questions\"","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddonVersion"}}},"required":true},"responses":{"201":{"description":"Successfully created","headers":{"Location":{"description":"URI of the new resource","schema":{"type":"string"}}},"content":{}},"400":{"description":"Invalid properties","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JsonErrorsDoc"}}}},"404":{"description":"The resource does not exist or isn't visible to you","content":{}}},"security":[{"mpac_authed":[]}],"x-codegen-request-body-name":"body"}},"/addons/{addonKey}/versions/build/{pluginBuildNumber}":{"get":{"tags":["App versions"],"summary":"Get app version (by number)","description":"Get the latest version of the specified app.","parameters":[{"name":"addonKey","in":"path","description":"The unique identifier for this app, for example \"com.atlassian.confluence.plugins.confluence-questions\"","required":true,"schema":{"type":"string"}},{"name":"pluginBuildNumber","in":"path","description":"The unique internal identifier and sort key for this version","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddonVersion"}}}},"404":{"description":"The resource does not exist or isn't visible to you","content":{}}}},"patch":{"tags":["App versions"],"summary":"Update app version","description":"Update a specific version for the specified app.\n\nThe request body must be a valid <a href=\"https://tools.ietf.org/html/rfc6902\">JSON Patch</a> document. The properties which can be referenced in the PATCH are the same ones returned by a GET on this URI.\n\nThis resource requires authentication.","parameters":[{"name":"addonKey","in":"path","description":"The unique identifier for this app, for example \"com.atlassian.confluence.plugins.confluence-questions\"","required":true,"schema":{"type":"string"}},{"name":"pluginBuildNumber","in":"path","description":"The unique internal identifier and sort key for this version","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"description":"The request body must be a valid <a href=\"https://tools.ietf.org/html/rfc6902\">JSON Patch</a> document. The properties which can be referenced in the PATCH are the same ones returned by a GET on this URI.","content":{"application/json-patch+json":{"schema":{"$ref":"#/components/schemas/JsonPatchRequest"}}},"required":true},"responses":{"204":{"description":"Successfully modified","headers":{"Location":{"description":"URI of the resource","schema":{"type":"string"}}},"content":{}},"400":{"description":"Invalid properties","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JsonErrorsDoc"}}}},"404":{"description":"The resource does not exist or isn't visible to you","content":{}}},"security":[{"mpac_authed":[]}],"x-codegen-request-body-name":"body"}},"/addons/{addonKey}/versions/build/{pluginBuildNumber}/approval":{"get":{"tags":["App versions"],"summary":"Get app version approval","description":"Get a specific app version approval status.\n\nThis resource requires authentication.","parameters":[{"name":"addonKey","in":"path","description":"The unique identifier for this app, for example \"com.atlassian.confluence.plugins.confluence-questions\"","required":true,"schema":{"type":"string"}},{"name":"pluginBuildNumber","in":"path","description":"The unique internal identifier and sort key for this version","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApprovalStatus"}}}},"404":{"description":"The resource does not exist or isn't visible to you","content":{}}},"security":[{"mpac_authed":[]}]},"put":{"tags":["App versions"],"summary":"Update app version approval","description":"Approve, reject or resubmit an app version for approval.\n\nVendors can use this resource to resubmit a previously rejected app version for approval. This is done by setting the `status` field to `pending`.\n\nAdministrators can use this resource to approve or reject an app version that is submitted for approval.\n\nThis resource requires authentication.","parameters":[{"name":"addonKey","in":"path","description":"The unique identifier for this app, for example \"com.atlassian.confluence.plugins.confluence-questions\"","required":true,"schema":{"type":"string"}},{"name":"pluginBuildNumber","in":"path","description":"The unique internal identifier and sort key for this version","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApprovalStatus"}}},"required":true},"responses":{"204":{"description":"Success","content":{}},"400":{"description":"Invalid properties","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JsonErrorsDoc"}}}},"404":{"description":"The resource does not exist or isn't visible to you","content":{}}},"security":[{"mpac_authed":[]}],"x-codegen-request-body-name":"body"}},"/addons/{addonKey}/versions/latest":{"get":{"tags":["App versions"],"summary":"Get app version (latest)","description":"Get the latest version of the specified app.","parameters":[{"name":"addonKey","in":"path","description":"The unique identifier for this app, for example \"com.atlassian.confluence.plugins.confluence-questions\"","required":true,"schema":{"type":"string"}},{"name":"afterVersion","in":"query","description":"Selects only app versions newer than the version with the specified display name","schema":{"type":"string"}},{"name":"application","in":"query","description":"Only returns apps compatible with this application","schema":{"type":"string"}},{"name":"applicationBuild","in":"query","description":"Only returns apps compatible with the specified application build number","schema":{"type":"integer","format":"int64"}},{"name":"cost","in":"query","description":"Only returns apps with the specified payment model","schema":{"type":"string","enum":["free","marketplace","orderable","paid"]}},{"name":"hosting","in":"query","description":"Only returns apps with the specified hosting model","schema":{"type":"string","enum":["any","cloud","datacenter","server"]}},{"name":"includePrivate","in":"query","description":"Includes private apps or versions if you are authorized to see them","schema":{"type":"boolean"}},{"name":"cloudComplianceBoundary","in":"query","description":"Only returns app version with the specified cloud compliance boundary, with \"commercial\" as the default for cloud apps. This parameter will be ignored for non-cloud app versions.","schema":{"$ref":"#/components/schemas/CloudComplianceBoundary"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddonVersion"}}}},"404":{"description":"The resource does not exist or isn't visible to you","content":{}}}}},"/addons/{addonKey}/versions/name/{name}":{"get":{"tags":["App versions"],"summary":"Get app version (by name)","description":"Get details about a specific version, matching the specified name, of the specified app.","parameters":[{"name":"addonKey","in":"path","description":"The unique identifier for this app, for example \"com.atlassian.confluence.plugins.confluence-questions\"","required":true,"schema":{"type":"string"}},{"name":"name","in":"path","description":"The display name of the version, for example \"1.0.0\"","required":true,"schema":{"type":"string"}},{"name":"hosting","in":"query","description":"Only returns app version with the specified hosting model","schema":{"type":"string","enum":["any","cloud","datacenter","server"]}},{"name":"cloudComplianceBoundary","in":"query","description":"Only returns app version with the specified cloud compliance boundary, with \"commercial\" as the default for cloud apps. This parameter will be ignored for non-cloud app versions.","schema":{"$ref":"#/components/schemas/CloudComplianceBoundary"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddonVersion"}}}},"404":{"description":"The resource does not exist or isn't visible to you","content":{}}}}},"/addons/{addonKey}/watch":{"get":{"tags":["Apps"],"summary":"Get watch/unwatch app state","description":"Returns whether or not the current user is watching the specified app.\n\nThis resource requires authentication.","deprecated":true,"parameters":[{"name":"addonKey","in":"path","description":"The unique identifier for this app, for example \"com.atlassian.confluence.plugins.confluence-questions\"","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BooleanState"}}}}},"security":[{"mpac_authed":[]}]},"put":{"tags":["Apps"],"summary":"Watch / unwatch app","description":"Updates whether or not the current user is watching the specified app.\n\nThis resource requires authentication.","deprecated":true,"parameters":[{"name":"addonKey","in":"path","description":"The unique identifier for this app, for example \"com.atlassian.confluence.plugins.confluence-questions\"","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BooleanState"}}},"required":true},"responses":{"204":{"description":"Successfully modified","headers":{"Location":{"description":"URI of the resource","schema":{"type":"string"}}},"content":{}}},"security":[{"mpac_authed":[]}],"x-codegen-request-body-name":"body"}},"/applications":{"get":{"tags":["Applications"],"summary":"Get applications","deprecated":true,"description":"Get a list of applications.","parameters":[{"name":"offset","in":"query","description":"If specified, skips ahead by this number of items","schema":{"type":"integer","format":"int32"}},{"name":"limit","in":"query","description":"If specified, limits the result set to this number of items","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplicationCollection"}}}}}}},"/applications/{applicationKey}":{"get":{"tags":["Applications"],"summary":"Get application","deprecated":true,"description":"Get a specific application.","parameters":[{"name":"applicationKey","in":"path","description":"The unique identifier for this application, for example \"jira\"","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Application"}}}},"404":{"description":"The resource does not exist or isn't visible to you","content":{}}}}},"/applications/{applicationKey}/versions":{"get":{"tags":["Applications"],"summary":"Get application versions","deprecated":true,"description":"Get a list of versions for the specified application.","parameters":[{"name":"applicationKey","in":"path","description":"The unique identifier for this application, for example \"jira\"","required":true,"schema":{"type":"string"}},{"name":"afterBuildNumber","in":"query","description":"Selects only application versions whose build number is greater than this","schema":{"type":"integer","format":"int64"}},{"name":"offset","in":"query","description":"If specified, skips ahead by this number of items","schema":{"type":"integer","format":"int32"}},{"name":"limit","in":"query","description":"If specified, limits the result set to this number of items","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplicationVersionCollection"}}}},"404":{"description":"The resource does not exist or isn't visible to you","content":{}}}}},"/applications/{applicationKey}/versions/build/{applicationBuildNumber}":{"get":{"tags":["Applications"],"summary":"Get application version (by number)","deprecated":true,"description":"Get details about a specific version, matching the specified build number, of the specified application.","parameters":[{"name":"applicationKey","in":"path","description":"The unique identifier for this application, for example \"jira\"","required":true,"schema":{"type":"string"}},{"name":"applicationBuildNumber","in":"path","description":"The unique integer identifier for the application version","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplicationVersion"}}}},"404":{"description":"The resource does not exist or isn't visible to you","content":{}}}}},"/applications/{applicationKey}/versions/latest":{"get":{"tags":["Applications"],"summary":"Get application version (latest)","deprecated":true,"description":"Get the latest version of the specified application.","parameters":[{"name":"applicationKey","in":"path","description":"The unique identifier for this application, for example \"jira\"","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplicationVersion"}}}},"404":{"description":"The resource does not exist or isn't visible to you","content":{}}}}},"/applications/{applicationKey}/versions/name/{name}":{"get":{"tags":["Applications"],"summary":"Get application version (by name)","deprecated":true,"description":"Get details about a specific version, matching the specified name, of the specified application.","parameters":[{"name":"applicationKey","in":"path","description":"The unique identifier for this application, for example \"jira\"","required":true,"schema":{"type":"string"}},{"name":"name","in":"path","description":"The display name of the version, for example \"1.0.0\"","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplicationVersion"}}}},"404":{"description":"The resource does not exist or isn't visible to you","content":{}}}}},"/assets":{"get":{"tags":["Assets"],"summary":"Get asset links","description":"Get links to permitted asset resources.","responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HasAssetsCollectionLinks"}}}}}}},"/assets/artifact":{"post":{"tags":["Assets"],"summary":"Upload app artifact","description":"Use this resource to upload an app artifact (`.jar` or `.obr`) to Marketplace, so it can be used by an app version.\n\nThe request body is the file data.\n\nIf successful, the resource will respond with a resource link in `_links.self` that can be used as the `artifact` link when creating an app or app version. The response may include additional properties; other than `fileInfo`, these are used internally and should be ignored.\n\nThis resource requires authentication.\n\nExample: This curl command uploads the artifact present in a file ('my-file.jar').\n``` bash\ncurl --request POST \\\n  --url https://marketplace.atlassian.com/rest/2/assets/artifact \\\n  --user 'email@example.com:<api_token>' \\\n  --header 'Accept: application/json' \\\n  --header 'Content-Type: multipart/form-data' \\\n  --form file=@\"my-file.jar\"\n```","requestBody":{"content":{"multipart/form-data":{"schema":{"required":["file"],"properties":{"file":{"type":"string","description":"The relative location and name of the artifact file to be uploaded","format":"binary"}}}}},"required":true},"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddonArtifactAsset"}}}},"400":{"description":"Invalid properties","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JsonErrorsDoc"}}}}},"security":[{"mpac_authed":[]}]}},"/assets/artifact/fetch":{"post":{"tags":["Assets"],"summary":"Validate app artifact","description":"Use this resource to copy and validate an app artifact (`.jar` or `.obr`) that is available from an external URL, so it can be used by an app version.\n\nIf successful, you will get a resource link in `_links.self` that can be used as the `artifact` link when creating an app or app version.\n\nNote that this step can be skipped by just setting the `artifact` link to the external URL where the artifact is hosted when creating an app version; Marketplace will then download the artifact automatically.\n\nThis resource requires authentication.","parameters":[{"name":"uri","in":"query","description":"Marketplace will attempt to download the artifact from this location","required":true,"schema":{"type":"string","format":"uri"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddonArtifactAsset"}}}},"400":{"description":"Invalid properties","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JsonErrorsDoc"}}}}},"security":[{"mpac_authed":[]}]}},"/assets/image/{imageType}":{"post":{"tags":["Assets"],"summary":"Upload image","description":"Use this resource to upload an image (`.jpg`, `.png`, `.gif`, `.bmp`) to Marketplace, so you can use it for an app or vendor.\n\nThe request body is the file data.\n\nIf successful, you will get a resource link in _links.self that you can use as the appropriate image link in another resource, for example the `logo` link if you are creating an app.\n\nNote that if the image is available from an external URL, you can skip this step by just setting the image link tothat external URL when you are creating the resource that uses it.","parameters":[{"name":"imageType","in":"path","description":"Specifies what this image will be used for, which determines the allowable image size","required":true,"schema":{"type":"string","enum":["banner","hero","icon","logo","screenshot","screenshot-thumbnail","title-logo"]}},{"name":"file","in":"query","description":"The logical filename","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/binaryData"}}},"required":true},"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ImageAsset"}}}},"400":{"description":"Invalid properties","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JsonErrorsDoc"}}}}},"x-codegen-request-body-name":"body"}},"/assets/{assetName}":{"get":{"tags":["Assets"],"summary":"Get asset details","description":"Returns details about a previously uploaded file that Marketplace is now storing.\n\nThe asset can either be an image file or an app artifact. If it is an app artifact, the response may include additional properties which are used internally and should be ignored.","parameters":[{"name":"assetName","in":"path","description":"The unique identifying string that Marketplace uses to refer to this asset","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ImageAsset"}}}}}},"delete":{"tags":["Assets"],"summary":"Delete asset","description":"Removes a file from Marketplace storage which had been previously uploaded.\n\nThis is only allowed if:\n\n1. you, rather than another user, uploaded the file, and\n2. the asset is not currently being used by any other resource (for example, it cannot be the logo image for an existing app).\n\nThis resource requires authentication.","parameters":[{"name":"assetName","in":"path","description":"The unique identifying string that Marketplace uses to refer to this asset","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"Success","content":{}}},"security":[{"mpac_authed":[]}]}},"/licenseTypes":{"get":{"tags":["License types"],"summary":"Get license types","description":"Get a list of license types.","responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LicenseTypesCollection"}}}}}}},"/licenseTypes/{licenseTypeKey}":{"get":{"tags":["License types"],"summary":"Get license type","description":"Get a specific license type.","parameters":[{"name":"licenseTypeKey","in":"path","description":"The unique identifier for this license type, for example \"gpl\"","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LicenseType"}}}},"404":{"description":"The resource does not exist or isn't visible to you","content":{}}}}},"/products":{"get":{"tags":["Products"],"summary":"Get products","description":"Get a list of products matching the specified parameters.","deprecated":true,"parameters":[{"name":"application","in":"query","description":"Only returns apps compatible with this application","schema":{"type":"string"}},{"name":"applicationBuild","in":"query","description":"Only returns apps compatible with the specified application build number","schema":{"type":"integer","format":"int64"}},{"name":"cost","in":"query","description":"Only returns apps with the specified payment model","schema":{"type":"string","enum":["free","marketplace","orderable","paid"]}},{"name":"hosting","in":"query","description":"Only returns apps with the specified hosting model","schema":{"type":"string","enum":["any","cloud","datacenter","server"]}},{"name":"withVersion","in":"query","description":"Includes the latest compatible version in the response","schema":{"type":"boolean"}},{"name":"offset","in":"query","description":"If specified, skips ahead by this number of items","schema":{"type":"integer","format":"int32"}},{"name":"limit","in":"query","description":"If specified, limits the result set to this number of items","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductCollection"}}}},"400":{"description":"Invalid properties","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JsonErrorsDoc"}}}}}}},"/products/key/{productKey}":{"get":{"tags":["Products"],"summary":"Get product","description":"Get a specific product.","deprecated":true,"parameters":[{"name":"productKey","in":"path","description":"The unique identifier for this product, for example \"jira-software\"","required":true,"schema":{"type":"string"}},{"name":"application","in":"query","description":"Only returns apps compatible with this application","schema":{"type":"string"}},{"name":"applicationBuild","in":"query","description":"Only returns apps compatible with the specified application build number","schema":{"type":"integer","format":"int64"}},{"name":"cost","in":"query","description":"Only returns apps with the specified payment model","schema":{"type":"string","enum":["free","marketplace","orderable","paid"]}},{"name":"hosting","in":"query","description":"Only returns apps with the specified hosting model","schema":{"type":"string","enum":["any","cloud","datacenter","server"]}},{"name":"withVersion","in":"query","description":"Includes the latest compatible version in the response","schema":{"type":"boolean"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Product"}}}},"400":{"description":"Invalid properties","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JsonErrorsDoc"}}}},"404":{"description":"The resource does not exist or isn't visible to you","content":{}}}}},"/products/key/{productKey}/versions":{"get":{"tags":["Products"],"summary":"Get product versions","description":"Get a list of versions for the specified product.","deprecated":true,"parameters":[{"name":"productKey","in":"path","description":"The unique identifier for this product, for example \"jira-software\"","required":true,"schema":{"type":"string"}},{"name":"application","in":"query","description":"Only returns apps compatible with this application","schema":{"type":"string"}},{"name":"applicationBuild","in":"query","description":"Only returns apps compatible with the specified application build number","schema":{"type":"integer","format":"int64"}},{"name":"cost","in":"query","description":"Only returns apps with the specified payment model","schema":{"type":"string","enum":["free","marketplace","orderable","paid"]}},{"name":"hosting","in":"query","description":"Only returns apps with the specified hosting model","schema":{"type":"string","enum":["any","cloud","datacenter","server"]}},{"name":"offset","in":"query","description":"If specified, skips ahead by this number of items","schema":{"type":"integer","format":"int32"}},{"name":"limit","in":"query","description":"If specified, limits the result set to this number of items","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductVersionCollection"}}}},"400":{"description":"Invalid properties","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JsonErrorsDoc"}}}},"404":{"description":"The resource does not exist or isn't visible to you","content":{}}}}},"/products/key/{productKey}/versions/build/{buildNumber}":{"get":{"tags":["Products"],"summary":"Get product version (by number)","description":"Get details about a specific version, matching the specified build number, of the specified product.","deprecated":true,"parameters":[{"name":"productKey","in":"path","description":"The unique identifier for this product, for example \"jira-software\"","required":true,"schema":{"type":"string"}},{"name":"buildNumber","in":"path","description":"The unique internal identifier and sort key for this version","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"application","in":"query","description":"Only returns apps compatible with this application","schema":{"type":"string"}},{"name":"applicationBuild","in":"query","description":"Only returns apps compatible with the specified application build number","schema":{"type":"integer","format":"int64"}},{"name":"cost","in":"query","description":"Only returns apps with the specified payment model","schema":{"type":"string","enum":["free","marketplace","orderable","paid"]}},{"name":"hosting","in":"query","description":"Only returns apps with the specified hosting model","schema":{"type":"string","enum":["any","cloud","datacenter","server"]}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductVersion"}}}},"400":{"description":"Invalid properties","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JsonErrorsDoc"}}}},"404":{"description":"The resource does not exist or isn't visible to you","content":{}}}}},"/products/key/{productKey}/versions/latest":{"get":{"tags":["Products"],"summary":"Get product version (latest)","description":"Get the latest version of the specified product.","deprecated":true,"parameters":[{"name":"productKey","in":"path","description":"The unique identifier for this product, for example \"jira-software\"","required":true,"schema":{"type":"string"}},{"name":"application","in":"query","description":"Only returns apps compatible with this application","schema":{"type":"string"}},{"name":"applicationBuild","in":"query","description":"Only returns apps compatible with the specified application build number","schema":{"type":"integer","format":"int64"}},{"name":"cost","in":"query","description":"Only returns apps with the specified payment model","schema":{"type":"string","enum":["free","marketplace","orderable","paid"]}},{"name":"hosting","in":"query","description":"Only returns apps with the specified hosting model","schema":{"type":"string","enum":["any","cloud","datacenter","server"]}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductVersion"}}}},"400":{"description":"Invalid properties","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JsonErrorsDoc"}}}},"404":{"description":"The resource does not exist or isn't visible to you","content":{}}}}},"/products/key/{productKey}/versions/name/{versionName}":{"get":{"tags":["Products"],"summary":"Get product version (by name)","description":"Get details about a specific version, matching the specified name, of the specified product.","deprecated":true,"parameters":[{"name":"productKey","in":"path","description":"The unique identifier for this product, for example \"jira-software\"","required":true,"schema":{"type":"string"}},{"name":"versionName","in":"path","description":"The display name of the version, for example \"1.0.0\"","required":true,"schema":{"type":"string"}},{"name":"application","in":"query","description":"Only returns apps compatible with this application","schema":{"type":"string"}},{"name":"applicationBuild","in":"query","description":"Only returns apps compatible with the specified application build number","schema":{"type":"integer","format":"int64"}},{"name":"cost","in":"query","description":"Only returns apps with the specified payment model","schema":{"type":"string","enum":["free","marketplace","orderable","paid"]}},{"name":"hosting","in":"query","description":"Only returns apps with the specified hosting model","schema":{"type":"string","enum":["any","cloud","datacenter","server"]}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductVersion"}}}},"400":{"description":"Invalid properties","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JsonErrorsDoc"}}}},"404":{"description":"The resource does not exist or isn't visible to you","content":{}}}}},"/vendors/{vendorId}/promotions":{"get":{"tags":["Promotions (Removed)"],"summary":"Get promotions","description":"Get a list of promotions for the specified vendor.\n\nThis resource requires authentication.\n\n**This is a deprecated API. Refer [Get promotions](/platform/marketplace/rest/v1/api-group-promotions/#api-marketplace-catalog-partners-partnerid-promotions-get) for the new API details**","parameters":[{"name":"vendorId","in":"path","description":"The unique identifier for this vendor","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PromotionList"}}}}},"deprecated":true,"security":[{"mpac_authed":[]}]},"post":{"tags":["Promotions (Removed)"],"summary":"Create promotion","description":"Create a new promotion for the specified vendor.\n\nThis resource requires authentication.\n\n**This is a deprecated API. Refer [Create promotion](/platform/marketplace/rest/v1/api-group-promotions/#api-marketplace-catalog-partners-partnerid-promotions-post) for the new API details**","parameters":[{"name":"vendorId","in":"path","description":"The unique identifier for this vendor","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Promotion"}}},"required":true},"responses":{"201":{"description":"Successfully created","headers":{"Location":{"description":"URI of the new resource","schema":{"type":"string"}}},"content":{}}},"deprecated":true,"security":[{"mpac_authed":[]}],"x-codegen-request-body-name":"body"}},"/vendors/{vendorId}/promotions/{promotionId}":{"get":{"tags":["Promotions (Removed)"],"summary":"Get promotion","description":"Get a specific promotion for the specified vendor.\n\nThis resource requires authentication.\n\n**This is a deprecated API. Refer [Get promotion](/platform/marketplace/rest/v1/api-group-promotions/#api-marketplace-catalog-partners-partnerid-promotions-promotionid-get) for the new API details**","parameters":[{"name":"vendorId","in":"path","description":"The unique identifier for this vendor","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"promotionId","in":"path","description":"The unique identifier for this promotion","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Promotion"}}}}},"deprecated":true,"security":[{"mpac_authed":[]}]},"patch":{"tags":["Promotions (Removed)"],"summary":"Update promotion","description":"Update a specific promotion for the specified vendor.\n\nThe request body must be a valid <a href=\"https://tools.ietf.org/html/rfc6902\">JSON Patch</a> document. The properties which can be referenced in the PATCH are the same ones returned by a GET on this URI.\n\nThis resource requires authentication.\n\n**This is a deprecated API. Refer [Update promotion](/platform/marketplace/rest/v1/api-group-promotions/#api-marketplace-catalog-partners-partnerid-promotions-promotionid-patch) for the new API details**","parameters":[{"name":"vendorId","in":"path","description":"The unique identifier for this vendor","required":true,"schema":{"type":"integer","format":"in
[...]
